  body{
    background-color: black;
  }
  
  #quote-box{
    width: 40%;
    height: fit-content;
    border-radius: 4px;
    border-color: black;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
  }
  
  #new-quote{
    margin: auto;
    border-style: none;
    padding: 10px;
    background-color: rgb(190, 190, 190);
    border-radius: 4px;
  }
  
  #new-quote:hover{
    background: #61dafb;
  }
  
  #author{
    margin-left: 55%;
  }

  #text{
    color: black;
    font-size: 25px;
  }
  
  #tweet-quote{
    margin-right: 120px;
    background-color: #55acee;
  }

  .white-color{
      color: white;
  }

  
